html, body {
  font-family: 'Source Sans Pro', 'Lato', sans-serif;
  
  --back-first: #a47a63;
  --front-1-first: #c09ec8;
  --front-2-first: black;
}

nav {
  background-color: var(--front-1-first, lightblue);
  min-height: 75px;
  line-height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  position: fixed;
  top: 0;
  left: 4px;
}

a > div {
  margin: 0 1px;
  padding: 0 10px;
  min-width: 78px;
  text-align: center;
  color: var(--front-2-first, lightblue);;
}

nav > a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

nav > a:hover{
  background-color: #7d5384;
}

a > div:hover{
  color: white;
}

.extra-right{
  margin-right: 24px;
}

.first-section{
  background-color: var(--back-first);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-image: linear-gradient(62deg, #9e7664 0%, #5f3d31 100%);
}

.first-section > h1 {
  font-size: 2.9em;
  font-weight: 900;
  margin: 0;
  text-shadow: -2px -2px #a7a7a7;
}

.first-section > p {
  font-family: 'Lato';
  color: var(--front-1-first);
  font-size: 1.5em;
  margin-top: 10px;
  text-shadow: -2px -2px #7d5384;
  /*   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}