html, body {
  font-family: 'Source Sans Pro', 'Lato', sans-serif;
  
  --back-first: #a47a63;
  --front-1-first: #c09ec8;
  --front-2-first: black;
  --nav-height: 70px;
}

nav {
  background-color: var(--front-1-first, lightblue);
  min-height: var(--nav-height);
  line-height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  position: fixed;
  top: 0;
  left: 4px;
}

a > div {
  margin: 0 1px;
  padding: 0 10px;
  min-width: 78px;
  text-align: center;
  color: var(--front-2-first, lightblue);;
}

a {
  text-decoration: none;
}

nav > a {
  font-size: 1.5em;
  font-weight: bold;
}

nav > a:hover{
  background-color: #7d5384;
}

a > div:hover{
  color: white;
}

.extra-right{
  margin-right: 24px;
}

.first-section{
  background-color: var(--back-first);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-section > h1 {
  font-size: 2.9em;
  font-weight: 900;
  margin: 0;
  text-shadow: 1px 1px lightgray;
}

.first-section > p {
  font-family: 'Lato';
  color: var(--front-1-first);
  font-size: 1.5em;
  margin-top: 10px;
  text-shadow: 1px 1px purple;

}

.projects-section{
  background-color: #6c1a2d; 
  padding-bottom: 80px;
}

.projects-section > h2 {
  color: white;
  font-size: 2.3em;
  font-weight: 400;
  padding-top: var(--nav-height);
  margin: 0 auto 6rem auto;
  border-bottom: 2px solid white;
  max-width: 500px;
  text-align: center; 
}

.p-container{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.project-tile {
  background-color: #7c5495;
  justify-self: center;
  align-self: start;
  border-radius: 8px;
}

.project-tile > a > img {
  width: 400px;
  border-radius: 8px 8px 0px 0px;
}

.project-tile > a {
  text-decoration: none;
}

.card-link {
  line-height: 50px;
  min-height: 50px;
  margin:0;
  color: white;
}

.card-link:hover {
  color: black;
}

@media (max-width: 1260px){
  
  .p-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 50px;
  }
}

@media (max-width: 890px){
  
  .projects-section > h2 {
    font-size: 2em;
    max-width: 400px;
  }
  
  .p-container{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 50px;
  }
}

.contacts-section{
  background-color: #14621a;
  color: lightgray;
  text-align: center;
  padding-bottom: 20px;
  min-height: 230px;
}

.contacts-section > h2 {
  font-size: 58px;
  margin: 0; 
  padding: 20px 0;
}

.contacts-section > p {
  font-family: Lato;
  font-weight: 400;
  margin-top: 0;
  font-size: 1.3em;
  padding-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-links > a {
  color: lightgray;
  font-size: 1.5em;
  padding-right: 30px;
  transition: transform 0.3s ease-out, font-size 0.2s linear, color 0.3s linear;
  min-width: 150px;
}

.contact-links > a:hover{
  transform: translateY(5px);
  font-size: 1.7em;
  color: black;
}

i {
  margin-right: 5px;
}

footer {
  background-color: #14621a;
  border-top: 6px solid var(--front-1-first);
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

footer > p {
  margin: 0;
  padding-top: 30px;
  color: lightgray;
  text-align: center;
}

@media (max-width: 920px) {
  
  .contacts-section{
    padding-bottom: 10px;
    min-height: 210px;
  }

  .contacts-section > h2 {
    font-size: 48px;
  }

  .contacts-section > p {
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .contact-links > a {
    font-size: 1.3em;
    padding-right: 15px;
    transition: transform 0.3s ease-out, font-size 0.2s linear, color 0.3s linear;
    min-width: 122px;
  }

  .contact-links > a:hover{
    transform: translateY(5px);
    font-size: 1.4em;
  }  
}

@media (max-width:820px){
    footer {
    padding-bottom: 20px;
    flex-direction: column;
  }

  footer > p {
    padding-top: 15px;
  }

}

@media (max-width:720px){
  
  .contacts-section > h2 {
    font-size: 38px;
  }
  
  .contact-links > a {
    min-width: 70px;
  }
  
  .contact-links > a > span {
    font-size: 0;
  }
  
  .contact-links > a > i {
    font-size: 1.7em;
  }  
  
  footer > p {
    font-size: 0.8em;
  }

}