body {
  --font-color: purple;
  --back-color: #fffde9;
  background-color: var(--back-color, white);
}

header {
  border: 2px solid black;
  height: auto;
  color: var(--font-color, darkblue);
}

img {
  vertical-align: middle;
}

.brand-title{
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
  margin: 0;
  color: purple;
}

.div-links{
  display: inline-block;
  width: 44%;
  text-align: center;
}

nav > a {
  margin-right: 10px;
}

.nav-links{
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.products{
  display: inline-block;
  width: 33%;
}

.buy{
  width: 33%;
  display: inline-block;
}

.pricing{
  width: 32%;
  display: inline-block;
}

header > div{
  text-align: center;
}

.comp-name{
  display: inline-block;
  width: 55%;
  text-align: left;
  background: linear-gradient(90deg, pink, #fffde9 );
}


.nav-link {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--font-color, darkblue);
  text-decoration: none;
}

h1 {
  font-size: 1.6em;
  text-align: center;
}

.fields {
  text-align: center;
}

.search-field {
  width: 240px;
  border-radius: 3px;
  height: 2em;
}