body {
  --primary-color: purple;
  --sec-color: #fffde9;
  --th-color: #9ed5ba;
  background-color: var(--sec-color, white);
  color: var(--primary-color, darkblue);
}

header {
  border: 1px solid black;
  height: auto;
  color: var(--primary-color, darkblue);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--sec-color, white);
}

img {
  vertical-align: middle;
}

.brand-title{
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
  margin: 0;
  color: purple;
}

.div-links{
  display: inline-block;
  width: 44%;
  text-align: center;
}

nav > a {
  margin-right: 10px;
}

.nav-links{
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block-link{
  display: inline-block;
  width: 32%;
}

header > div{
  text-align: center;
}

.comp-name{
  display: inline-block;
  width: 55%;
  text-align: left;
  background: linear-gradient(90deg, pink, #fffde9 );
}


.nav-link {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary-color, darkblue);
  text-decoration: none;
}

#nav-img{
  display: none;
}

h1 {
  padding-top: 100px;
  font-size: 1.6em;
  text-align: center;
}

.fields {
  text-align: center;
  min-height: 43px;
}

.search-field {
  width: 240px;
  border-radius: 3px;
  height: 2em;
  margin-bottom: 15px;
}

.basic-btn{
  height: 40px;
  width: 100px;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--th-color, #75d670d4);
  border: 1px solid var(--sec-color, darkgreen);
  border-radius: 8px;
  color: var(--primary-color, black);
}

.basic-btn:hover{
  height: 43px;
  width: 103px;
  font-size: 1.1em;
  background-color: #7ad2b2;
  color: #d053d0;
}

.cards-cont{
  text-align: center;
  margin-top: 100px;
}

.card{
  display: inline-block;
  width: 22%;
  min-height: 500px;
  margin: 0px 10px 60px 10px;
  border-radius: 10px;
  background-color: hsla(344, 67%, 95%, 8);
  text-align: center;
  vertical-align: top;
}

.prod-title{
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  background-color: var(--th-color, ligthgray);
  margin-bottom: 30px;
  vertical-align: top;
}

.prod-title > span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.card > img {
  vertical-align: top;
  border-radius: 8px;
  max-width: 100%;
  min-height: 238px;
  display: inline-block;
  height: auto;
}

.card-price{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.prod-desc{
  font-size: 1.3em;
}

#howto{
  text-align: center;
  margin-bottom: 80px;
}

#video{
  border-radius: 8px;
}

#ingredients{
  text-align: center;
}

.ingr-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.img-sec{
  max-width: 20%;
}

.img-icon{
  height: 100px;
  border-radius: 30%;
  margin-right: 20px;
}

.ingr-text{
  max-width: 60%;
  text-align: left;
  margin-left: 20px;
}

.ingr-title{
  font-size: 1.3em;
  margin: 10px 5px;
  padding-left: 5px;
}

.ingr-desc{
  margin: 5px 5px;
  padding-left: 5px;
}

footer {
  margin-top: 50px;
  background-color: hsla(344, 67%, 95%, 8);
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
}

.mid{
  vertical-align: middle;
}

@media (max-width:1200px){
  .card > img {
     max-width: 80%;
  }
}

@media (max-width:1100px){
  
  .block-link > a {
    font-size: 0;
  }
  
  #nav-img{
    display: inline-block;
  }
  
  .card{
    width: 28%;    
  }
  
  .card > img {
    max-width: 60%;
    min-height: 202px;
    max-height: 50%; 
  }
  
}

@media (max-width:800px){
  .card{
    width: 80%;
  }
  
  #video{
    width: 60%;
    height: 60%;
  }
}

@media (max-width:700px){
  footer {
    font-size: 0.8em;
  }
}